name: Build and Release Plugin

on:
  release:
    types:
      - released  
      - prereleased

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  
    steps:
      - uses: dkaser/unraid-plugin-release-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
